<div class="container-fluid p-5">
    <div class="py-1">
        <div class="card">
            <div class="container bg-light">
                <form [formGroup]="addPersonForm">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col">
                            <div class="input py-3">
                                <div class="uploadImage py-3" *ngIf="addPersonForm.controls['avatar'].valid">
                                    <img src="{{url}}" alt="Avatar" class="Avatar" >
                                </div>
                                <label for="avatar">Choose a profile picture:</label>
                                <input type="file" id="avatar" formControlName="avatar" class=""
                                    (change)="onFileChanged($event)" style="width: 92px;" required>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter Name</mat-label>
                                    <input matInput type="text" placeholder="Name" formControlName="name" required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter Email</mat-label>
                                    <input matInput type="text" placeholder="Email" formControlName="email" required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter DOB</mat-label>
                                    <input matInput type="date" placeholder="DOB" formControlName="dob" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="text-center py-2">
                        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>